<div id="feature-content">
	<section>
		<h2 align="center">CREACION DE TENANT</h2>
	</section>
	<div>
		<form action="" method="POST">
		
			<label class="formulario">Codigo:</label>
			<input style="width: 20%" style="width: 30%" type="text" class="buscar-consultor" id="buscar-consultor" name="usuario" value="" />
			<label class="espacio">Nombre</label> 
			<input style="width: 25%" type="" class="buscar-consultor" /><br />
			
			
			<label class="formulario">Identificacion: </label>
			<input style="width: 15%" class="buscar-consultor" /> 
			<label class="espacio">Tipo de Identificacion: </label> 
			<select name="tipo_identificacion" class="buscar-consultor2">
				<option>Seleccione</option>
				<option>Cedula de Ciudadania</option>
				<option>Cedula de Extranjeria</option>
			</select> <br/> 
			
			<label class="formulario">Telefono:</label> 
			<input type="text" class="buscar-consultor" /> 
			<label class="espacio">Direccion: </label>
			<input style="width: 20%" type="text" class="buscar-consultor" placeholder="" /> <br> 
			
		</form>
		
	</div>
</div>
<div class="2u">
	<p class="button-style">
		<a href="#/tenan" ng-click="consultar()">Consultar</a>
	</p>
</div>
<div class="3u">
	<p class="button-style" align="center">
		<a href="#/tenan" ng-click="crear()">Crear</a>
	</p>
</div>
<div class="2u">
	<p class="button-style">
		<a href="#/tenan" ng-click="cancelar()">Cancelar</a>
	</p>
</div>