<div id="feature-content">
	<section>
		<h2 align="center">FACTURACI&Oacute;N</h2>
	</section>
	<div>
		<form action="" method="POST">
			
			<label class="formulario">Factura:</label>
			<input style="width: 10%" type="text" 
				class="buscar-consultor" id="buscar-consultor" placeholder="Factura" ng-model="cliente.idMovimiento" />
				
			<label class="espacio">Total:</label>
			<input style="width: 12%" type="text" class="buscar-consultor" placeholder="Valor" 
				ng-disabled="true" ng-model="totaliza.totalPesos"/> <br/>
				
			<label class="formulario">Cliente:</label>
			<input style="width: 33%" type="text" 
				class="buscar-consultor" id="buscar-consultor" placeholder="Nombre del Cliente" ng-model="cliente.nombre" /><br/>
			
			<label class="formulario">Identificacion:</label>
			<input style="width: 10%" class="buscar-consultor" placeholder="Identificacion" ng-model="cliente.identificacion"/>
			
			<label class="espacio">Tipo Id:</label> 
			<select style="width: 15%" name="tipo_identificacion" class="buscar-consultor2" 
				ng-model="cliente.idtipoidentificacion" ng-options="tipo.ididentificacion as tipo.descripcion for tipo in tiposId">
			</select> <br/> 		
			
		</form>
	</div>
</div>

<div class="botonera">
	<div class="2u">
		<p class="button-style">
			<a href="#/facturacion" ng-click="FacturacionRegistrar()" ng-show="facturacion_btnRegistrar">Guardar</a>
		</p>
	</div>
	<div class="3u">
		<p class="button-style">
			<a href="#/facturacion" ng-click="FacturacionConsultar()" ng-show="facturacion_btnConsultar">Consultar</a>
		</p>
	</div>
	<div class="2u">
		<p class="button-style">
			<a href="#/facturacion" ng-click="FacturacionCancelar()">Limpiar</a>
		</p>
	</div>
</div>

<div ng-show="grilla_facturacion">
	<table>
		<tr>
			<th>Producto</th>
			<th>Cantidad</th>
			<th>Valor Unitario</th>
			<th>Valor</th>
			<th>Accion</th>
		</tr>
		
		<tr>
			<td>
				<select ng-options="tipo.idproducto as tipo.nombreproducto for tipo in productosList" 
					ng-model="movimientoTemp.idproducto" required ></select>
			</td>	
			<td><input class="buscar-consultor-grill" type="text" ng-model="movimientoTemp.cantidad" placeholder="Cantidad" ></td>
			<td></td>
			<td></td>
			<td><img src="assets/img/agregar.png" class="agregar" ng-click="agregarFacturacion(movimientoTemp)"></td>
		</tr>

 		<tr ng-repeat="detalle in facturacionGrilla"> 
			<td>{{detalle.idproducto}} - {{detalle.nombreproducto}}</td>
			<td>{{detalle.cantidad}}</td>
			<td>$ {{detalle.valorunitario}}</td>
			<td>$ {{detalle.valor}}</td>
			
			<td>
				<img src="assets/img/eliminar.png" class="caneca"
					ng-click="borrarFacturacion(detalle)">
			</td>
		</tr>
		
	</table>
</div>


<div ng-show="grilla_consulta_facturacion">
	<table>
		<tr>
			<th>Factura</th>
			<th>Id Cliente</th>
			<th>Cliente</th>
			<th>Fecha</th>
			<th>Valor</th>
			<th>Vendedor</th>
			<th>Accion</th>
		</tr>
		
 		<tr ng-repeat="facturas in consultaFacturacionGrilla">
 			
 			<td>{{facturas.idFactura}}</td>
 			<td>{{facturas.identificacion}}</td>
 			<td>{{facturas.nombre}}</td>
 			<td>{{facturas.fecha | date:'M/d/yyyy HH:mm:ss'}}</td>
 			<td>$ {{facturas.valorTotal}}</td>
 			<td>{{facturas.usuario}}</td>
 			
			<td>
				<img src="assets/img/magnifier.png" class="caneca"
					ng-click="VerFactura(facturas)">
			</td>
		</tr>
		
	</table>
</div>

